@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html::-webkit-scrollbar {
    width: 0px;
}
html::-webkit-scrollbar-track {
    background-color: #0000ff;
}
html::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 25px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 10px;
    scroll-margin: 5px;
    scrollbar-color: #0000ff;
    scrollbar-width: 2px;
}
body {
    background-color: #ffffff;
    scroll-behavior: smooth;
    scroll-padding: 10px;
    scroll-margin: 5px;
    scrollbar-color: #0000ff;
    scrollbar-width: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main h1 {
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
}
.nav {
    align-items: center;
}
.nav a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'IBM Plex Mono', monospace;
}
.nav li:last-child {
    background-color: #0000ff;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
    color: #ffffff;
}
.nav li:last-child a {
    color: #ffffff;
    font-size: 1.1rem;
}
.nav a:hover {
    color: #0000ff;
}
.nav a.active {
    color: #0000ff;
}
.topNavigation {
    background-color: #ffffff;
    padding: 20px;
    padding-top: 30px;
}
.topNavigation .row .col-md:first-child {
    width: 90%;
    position: relative;
}
.topNavigation .row .col-md:last-child {
    position: relative;
    float: right;
    display: flex;
}
.topNavigation img {
    width: 50px;
    height: 50px;
}
.topNavigation img:first-child {
    margin-top: -10px;
}
.content {
    background-image: url("../img/bg1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    padding-top: 100px;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content-text {
    color: #ffffff;
}
.content h1 {
    color: #1b1b1b !important;
    font-size: 5em;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.content p {
    color: #1b1b1b !important;
    font-size: 1.8em; 
    font-weight: 350;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}
.analytics {
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box !important;
}
.analytics .row .col-md-2 {
    align-items: center;
    border-radius: 30px;
}
.col-md-2 img {
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    background-color: #D8F2FF;
    border-radius: 30px;
}
.content p {
    width: 70%;
}
.analytics h3 {
    font-size: 0.9em;
    margin-left: 10px;
}
.analytics p {
    margin-left: 10px;
    padding-bottom: 0px;
}
.study {
    padding-top: 80px;
    width: 50%;
}
.study h1 {
    color: #000000;
    font-size: 2.4em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.study h1 span {
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
.why-us {
    padding: 50px;
}
.cardx {
    padding: 10px;
    margin-top: 60px;
    box-sizing: border-box;
}
.cardx .cardx-title h3 {
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 30px;
}
.cardx .cardx-content {
    font-size: 0.9em;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #3b3a3a;
}
.why-us h5 {
    font-weight: 700;
    font-size: 1.4em;
    text-transform: capitalize;
}
.why-us .row h2 {
    font-size: 1.9em;
    color: #615f66;
    font-family: 'IBM Plex Mono', monospace;
}
.why-us .row h4 {
    font-weight: 500;
    font-size: 1.3em;
    color: #3b3a3a;
    font-family: 'Poppins', sans-serif;
}
.why-us .row .col-md {
    margin-top: 30px;
}
.demo {
    background-color: #D8F2FF;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.demo-card {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
}
.demo-card-image img {
    border-radius: 20px;
    width: 99%;
    height: 300px;
}
.demo-card-tags {
    padding: 5px;
    margin-top: 10px;
}
.demo-card-tags span {
    font-size: 0.9em;
    background-color: #e5f2f3;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: #615f66;
    font-weight: 500;
}
.demo-card-details {
    margin-top: 20px;
}
.demo-card-details p {
    font-weight: 700;
    font-size: 1.1em;
}
.demo-card-price {
    font-weight: 700;
}
.demo-card-price p {
    font-size: 2.0em;
}

.finder {
    padding: 40px;
}
div.slidex .rows {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: scroll !important;
    margin: 20px;
    overflow-y: auto !important;
}
div.slidex .rows::-webkit-scrollbar {
    width: auto;
    height: 5px;
}
div.slidex .rows::-webkit-scrollbar-thumb {
    background-color: #0000ff;
    border-radius: 24px;
    margin: 20px;
}
div.slidex .rows::-webkit-scrollbar-track {
    background: #c7c7c7;
    border-radius: 24px;
}
.slidex .finder-card {
    height: 550px;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.slidex .rows h3 {
    font-family: 'IBM Plex Mono', monospace;
}
div.slidex .rows .col-md .finder-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.finder .finder-card {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    border-radius: 8px;
    padding: 20px;
}
.finder .finder-button {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #7bb6dd;
    color: #ffffff;
    border-radius: 6px;
}
.finder .finder-button:hover, .finder .finder-button:focus {
    background-color: #257db8;
    border: 2px solid transparent;
    color: #D8F2FF !important;
}
.finder .finder-button a {
    text-decoration: none;
    color: #010233;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.finder .finder-button a:hover, .finder .finder-button a:focus {
    color: #D8F2FF !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .05s;
}

.final {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-color: #257db8;
    color: #eeeefc;
    font-family: 'Poppins', sans-serif;
}
.banner {
    background-image: url("../img/mortgage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.form {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}
.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #7bb6dd;
}
.form input[type="text"]:hover, .form input[type="password"]:hover, .form input[type="email"]:hover, .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus {
    box-shadow: 0px 2px 4px #0a333f80;
    border: 2px solid #7bb6dd;
}
.form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #0b4368;
    border: 0;
    color: #D8F2FF !important;
}
.vision {
    padding: 50px;
    
}
.vision .col-md img {
    width: 90%;
    align-items: center;
}
.vision-title h1 {
    font-weight: 600;
}
.vision-title a {
    text-decoration: none;
    padding: 8px 26px 8px 26px;
    background-color: #0d2138;
    border-radius: 5px;
    color: #2fb9fd !important;
}
.rrr {
    display: flex;
    align-items: center;
}
.vision-title {
    padding: 30px;
}
.xxx {
    display: flex;
    justify-content: center;
    align-items: center;
}
.final .row .col-md img {
    width: 100%;
}
.final .row .col-md {
    display: flex;
    justify-content: center;
    align-items: center;
}
.final .row .col-md h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.final .row .col-md a {
    color: #000000;
    text-decoration: none;
    background-color: #D8F2FF;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
}
.final .row .col-md a:hover, .final .row .col-md a:focus {
    background-color: #0C69AC;
    color: #D8F2FF;
}
#title {
    color: #0C69AC;
    font-size: 1.4em;
    font-weight: 700;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*
*   Footer style
*   background-color: #B2D4FB;
*/

.footer {
    background-color: #010233;
    padding: 50px;
}
.footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
}
.footer p {
    color: #D8F2FF !important;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.footer h4 {
    color: #D8F2FF !important;
    font-weight: 500;
    font-size: 1.1em;
    font-family: 'IBM Plex Mono', monospace;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    margin-right: 20px;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}
.footer ul li a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.sitemap ul {
    list-style-type: none;
    margin: 0;
}
.sitemap ul li {
    display: block;
    margin-right: 20px;
}
.sitemap ul li a {
    font-size: 0.8em;
}
.footer .hr {
    border-top: 1px solid #3a3949;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    padding: 10px;
}
.vision-title h1 {
    font-family: 'Poppins', sans-serif;
}
.footer .hr a {
    font-family: 'Poppins', sans-serif;
}
.MobileNavigation {
    display: none;
}
.MobileNavigation .row .col-md:last-child {
    height: 95vh;
}
.roadmap {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}
.design {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ring {
    background-color: #4F00E2;
    border-radius: 360px;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFE7FF;
}
.line {
    background-color: #4F00E2;
    padding: 4px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.design-text ul li {
    list-style: none;
    font-size: 1.1em;
    font-weight: 600;
}
.design-text ul li:first-child {
    margin-top: 10px;
}
.design-text ul li img {
    width: 30px;
    height: 30px;
}
#design-text1, #design-text2 {
    text-align: right;
}
.andre-aim {
    background-color: #f0f3ff;
}

@media only screen and (max-width: 1000px) {
    .content p {
      font-size: 0.7em;
      font-weight: 600;
      color: #ffffff;
      width: 80%;
    }
    .content h1 {
        font-size: 2.3em;
        color: #ffffff;
    }
    .content p {
        width: 100%;
    }
    .slidex .finder-card {
        height: 550px;
        width: 330px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .analytics {
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .content {
        padding: 35px;
        height: auto;
    }
    .content h1 {
        font-size: 2.3em;
        font-weight: 800;
    }
    .content p {
        font-size: 0.8em;
    }
    .sitemap .row .col-md {
        margin-top: 50px;
    }
    .cardx {
        margin-top: 50px;
    }
    .demo-card {
        margin-top: 50px;
    }
    .finder .finder-card {
        margin-top: 30px;
    }
    .slidex .finder-card {
        height: 550px;
        width: 330px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .finder {
        padding: 20px;
    }
    .vision {
        padding: 20px;
    }
    .vision-title {
        padding: 0px;
    }
    .rrr {
        margin-bottom: 50px;
    }
    .final {
        padding: 20px;
    }
    .final .row .col-md {
        margin-bottom: 20px;
    }
    .final .row .col-md:first-of-type {
        float: left;
        display: block;
    }
    .topNavigation {
        display: none;
    }
    .MobileNavigation {
        padding-left: 20px;
        padding-right: 20px;
        display: block;
    }
    .MobileNavigation .col-md:first-of-type {
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
    }
    .MobileNavigation .col-md:last-of-type {
        padding: 0;
        padding-top: 30px;
        display: none;
    }
    .MobileNavigation .row .col-md img:first-child {
        width: 40px;
        height: 40px;
        position: relative;
        margin-top: -10px;
    }
    .MobileNavigation .row .col-md img:last-child {
        float: right;
        margin-top: 0px;
    }
    .MobileNavigation .row .col-md img:last-child:hover {
        background-color: #Ffffff;
        border: 2px solid #7bb6dd;
        border-radius: 5px;
    }
    .MobileNavigation .row .col-md #MenuClose {
        float: right;
        display: none;
        margin-top: 10px;
    }
    .MobileNavigation .row .col-md #MenuClose:hover {
        background-color: #Ffffff;
        border: 2px solid #7bb6dd;
        border-radius: 5px;
    }
    .MobileNavigation ul li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        padding-left: 0;
        margin-right: 30px;
    }
    .MobileNavigation ul li:last-child {
        border-bottom: 0;
        margin-top: 60%;
    }
    .MobileNavigation ul li a {
        text-decoration: none;
        font-size: 1.5em;
        color: #3b3a3a;
        font-weight: 600;
    }
    .MobileNavigation ul li #buy {
        background-color: #0000ff;
        color: #d2e9f8;
        padding: 8px 50px;
        border-radius: 5px;
        font-size: 20px;
    }
    .MobileNavigation ul li #buy:hover, .MobileNavigation ul li #buy:focus {
        background-color: #d2e9f8;
        border: 2px solid #0000ff;
        color: #3b3a3a;

    }
    .why-us {
        padding: 30px;
    }
}