@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main h1 {
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
}
.nav {
    align-items: center;
}
.nav a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'IBM Plex Mono', monospace;
}
.nav li:last-child {
    background-color: #0000ff;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
    color: #ffffff;
}
.nav li:last-child a {
    color: #ffffff;
    font-size: 1.1rem;
}
.nav a:hover {
    color: #0000ff;
}
.nav a.active {
    color: #0000ff;
}
.topNavigation {
    background-color: #ffffff;
    padding: 20px;
}
.topNavigation img {
    width: 50px;
    height: 50px;
}
.content {
    background-image: url("../img/bg1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    padding-top: 100px;
    position: relative;
}
.content h1 {
    color: #000000 !important;
    margin-bottom: 30px;
}
.content p {
    color: #3b3a3a !important;
    font-size: 1.4em;
    font-weight: 350;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}
.analytics {
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box !important;
}
.analytics .row .col-md-2 {
    align-items: center;
    border-radius: 30px;
}
.col-md-2 img {
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    background-color: #D8F2FF;
    border-radius: 30px;
}
.content p {
    width: 70%;
}
.analytics h3 {
    font-size: 0.9em;
    margin-left: 10px;
}
.analytics p {
    margin-left: 10px;
    padding-bottom: 0px;
}
.study {
    padding-top: 80px;
    width: 50%;
}
.study h1 {
    color: #000000;
    font-size: 2.4em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.study h1 span {
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
.why-us {
    padding: 50px;
}
.cardx {
    padding: 10px;
    margin-top: 60px;
    box-sizing: border-box;
}
.cardx .cardx-title h3 {
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 30px;
}
.cardx .cardx-content {
    font-size: 0.9em;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #3b3a3a;
}
.why-us h5 {
    font-weight: 700;
    font-size: 1.4em;
    text-transform: capitalize;
}
.why-us .row h2 {
    font-size: 1.9em;
    color: #615f66;
    font-family: 'IBM Plex Mono', monospace;
}
.why-us .row h4 {
    font-weight: 500;
    font-size: 1.3em;
    color: #3b3a3a;
    font-family: 'Poppins', sans-serif;
}
.why-us .row .col-md {
    margin-top: 30px;
}

.demo {
    background-color: #D8F2FF;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.demo-card {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
}
.demo-card-image img {
    border-radius: 20px;
    width: 99%;
    height: 300px;
}
.demo-card-tags {
    padding: 5px;
    margin-top: 10px;
}
.demo-card-tags span {
    font-size: 0.9em;
    background-color: #e5f2f3;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: #615f66;
    font-weight: 500;
}
.demo-card-details {
    margin-top: 20px;
}
.demo-card-details p {
    font-weight: 700;
    font-size: 1.1em;
}
.demo-card-price {
    font-weight: 700;
}
.demo-card-price p {
    font-size: 2.0em;
}

.finder {
    padding: 40px;
}
.finder .finder-card {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    border-radius: 8px;
    padding: 20px;
}
.finder .finder-button {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #7bb6dd;
    color: #ffffff;
    border-radius: 6px;
}
.finder .finder-button:hover, .finder .finder-button:focus {
    background-color: #257db8;
    border: 2px solid transparent;
    color: #D8F2FF !important;
}
.finder .finder-button a {
    text-decoration: none;
    color: #010233;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.finder .finder-button a:hover, .finder .finder-button a:focus {
    color: #D8F2FF !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .05s;
}

.final {
    background-image: url("../img/house3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.banner {
    background-image: url("../img/mortgage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.form {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}
.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #7bb6dd;
}
.form input[type="text"]:hover, .form input[type="password"]:hover, .form input[type="email"]:hover, .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus {
    box-shadow: 0px 2px 4px #0a333f80;
    border: 2px solid #7bb6dd;
}
.form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #0b4368;
    border: 0;
    color: #D8F2FF !important;
}

/*
*   Footer Style
*/

.footer {
    background-color: #010233;
    padding: 50px;
}
.footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
}
.footer p {
    color: #D8F2FF !important;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.footer h4 {
    color: #D8F2FF !important;
    font-weight: 500;
    font-size: 1.1em;
    font-family: 'IBM Plex Mono', monospace;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    margin-right: 20px;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}
.footer ul li a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.sitemap ul {
    list-style-type: none;
    margin: 0;
}
.sitemap ul li {
    display: block;
    margin-right: 20px;
}
.sitemap ul li a {
    font-size: 0.8em;
}
.footer .hr {
    border-top: 1px solid #3a3949;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    padding: 10px;
}
.footer .hr a {
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .content p {
      font-size: 0.7em;
      font-weight: 600;
      color: #ffffff;
      width: 80%;
    }
    .content h1 {
        font-size: 2.3em;
        color: #ffffff;
    }
    .content p {
        width: 100%;
    }
    .analytics {
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .sitemap .row .col-md {
        margin-top: 50px;
    }
    .cardx {
        margin-top: 50px;
    }
    .demo-card {
        margin-top: 50px;
    }
    .finder .finder-card {
        margin-top: 30px;
    }
    .finder {
        padding: 20px;
    }
}